@tailwind base;
@tailwind components;
@tailwind utilities;
/* 这个字体是在fonts中定义的 */
html {
  font-family: var(--font-inter);
}
/* 这个字体是在fonts中定义的 */
h1 {
  font-family: var(--font-roboto-mono);
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
